/* General styles  */
*{
    -fx-font-size: 20px;
    -fx-font-family: "Arial";
}

/*The size of the scenes is defined on ScreenManager to avoid
inconsistencies*/

.root {
    -fx-background-color: #badab1;
}

/* Styles for the initialScreen  */
.telaInicio {
    -fx-background-size: cover;
    -fx-font-size: 20px;
    -fx-text-fill: #98e48c;
    -fx-font-family :"Arial Black";
    -fx-font-size: 20.0;
}
/* Styles for button in the initialScreen are right below */
.button{
    -fx-background-color: #4CAF50;
    -fx-background-radius: 15;
    -fx-border-radius: 15;
    -fx-text-fill: white;
    -fx-font-size: 22px;
    -fx-font-weight: bold;
}
.button:pressed{
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.75), 10, 0.5, 0, 0);
 }

.button:hover{
    -fx-background-color: #388E3C;
}

.buttonStart{
    -fx-background-radius: 15;
    -fx-border-radius: 15;
    -fx-pref-height: 60;
    -fx-pref-width: 180;
    -fx-text-fill: white;
    -fx-font-size: 22px;
    -fx-font-weight: bold;
}

/* Styles for the main menu   */

.mainMenu{
    -fx-background-color: #badab1;
    -fx-pref-height: 600px;
    -fx-pref-width: 900px;
    -fx-pref-fill: white;
    -fx-font-family :"Arial Black";
    -fx-font-size: 20.0;
}

.buttonMenu{
    -fx-background-radius: 15;
    -fx-border-radius: 15;
    -fx-pref-height: 150;
    -fx-pref-width: 250;
    -fx-text-fill: white;
    -fx-font-size: 22px;
    -fx-font-weight: bold;
}

